* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-weight: bold;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.container {
    margin-top: 10%;
}

.bayan {
    cursor: pointer;
}

.bayan-title {
    font-size: 1.5em;
    border-bottom: 0.07em solid rgb(192, 183, 183);
}

.bayan-element {
    border-bottom: 0.07em solid rgb(192, 183, 183);
    cursor: pointer;
}

label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/cssBayan/assets/icon.svg');
}

.bayan-element > input[type="radio"] {
    display: none;
    z-index: -1;
    opacity: 0;
}

.bayan-mem {
    max-height: 0;
    overflow: hidden;
    font-weight: normal;
    transition: 0.4s;
}

input[type="radio"]:checked ~ .bayan-mem {
    max-height: 2000px;
    transition: 8s;
}

.bayan-element:hover > .bayan-mem {
    max-height: 2000px;
    transition: 8s;
}
